.inputBox {
  gap: 1em;
  outline: 2px solid var(--accent-primary);
}

.inputBox__header {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-primary);

  div:first-of-type {
    flex: 1 !important;
  }
}

.inputBox__date {
  background: var(--surface);
  color: var(--text-base);
  outline: none;
  border-radius: 4px !important;
  border: none;
  width: 150px;
  text-align: center;
}

:global(.react-datepicker__calendar-icon) {
  fill: var(--text-base) !important;
}

.inputBox__datePopper {
  :global(.react-datepicker),
  :global(.react-datepicker__header) {
    background: var(--surface);
    border: none;
  }

  :global(.react-datepicker) {
    padding-top: 0.5em !important;
  }

  :global(.react-datepicker__navigation) {
    top: 10px !important;
  }

  :global(.react-datepicker__day),
  :global(.react-datepicker__day-name) {
    background: var(--surface);
    color: var(--text-base);
    height: 40px;
    width: 40px;
    font-size: 1rem;
    padding: 6px;
  }

  :global(.react-datepicker__day) {
    &:hover {
      background: var(--accent-primary) !important;
    }
  }

  :global(.react-datepicker__day--selected) {
    background: var(--accent-primary) !important;
  }

  :global(.react-datepicker__header) {
    padding-bottom: 0 !important;
  }

  :global(.react-datepicker__current-month) {
    color: var(--text-base) !important;
    font-size: 1.2rem;
  }

  :global(.react-datepicker__day-names) {
    padding: 0.5em 0;
    color: var(--text-base) !important;
  }

  :global(.react-datepicker__day-name) {
    height: 32px;
    color: var(--text-muted) !important;
  }

  :global(.react-datepicker__triangle) {
    fill: var(--surface) !important;
    color: var(--surface) !important;
    stroke: var(--surface) !important;
  }
}

.inputBox__input {
  border: none !important;
  border-radius: 0 !important;
  font-size: 1.2rem !important;
  padding: 0.5em !important;
  flex: 1 !important;
  width: 100% !important;
}

.inputBox__textarea {
  overflow-y: auto;
  transition: height 0.2s ease;
  resize: none;
  field-sizing: content;
}

.inputBox__textarea::-webkit-scrollbar {
  width: 6px;
}

.inputBox__textarea::-webkit-scrollbar-track {
  background: var(--surface);
  border-radius: 3px;
}

.inputBox__textarea::-webkit-scrollbar-thumb {
  background: var(--text-muted);
  border-radius: 3px;
}

.inputBox__textarea::-webkit-scrollbar-thumb:hover {
  background: var(--text-base);
}

.inputBox__buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.inputBox__buttons button {
  min-width: 100px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
