.googleSignin {
  button {
    --icon-size: 18px;

    width: 100%;
    border: 2px solid var(--accent-primary);
    padding: 1em;
    align-items: center;

    &:hover {
      background-color: var(--accent-primary);
    }
  }
}
