.dashboard {
  display: grid;
  gap: var(--spacing-md);
  grid-template-columns: repeat(12, 1fr);
  max-height: calc(100vh - 3 * var(--spacing-md) - 64px);
  border-radius: var(--radius-md);
  overflow-y: auto;
  margin-top: var(--spacing-md);
  width: calc(100% + var(--spacing-md));
  padding-right: var(--spacing-md);
}
.widget {
  background-color: var(--container);
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
}

.dashboard__greetings {
  grid-column: 1 / 10;
  grid-row-start: 1;
}

.dashboard__pomodoro {
  grid-column: 10 / 13;
  grid-row: 1 / 3;
}

.dashboard__taskList {
  grid-column: 10 / 13;
  grid-row-start: 3;
}

.dashboard__totalHours {
  grid-column: 1 / 4;
  grid-row-start: 2;
}

.dashboard__widget {
  grid-column: 4 / 7;
  grid-row-start: 2;
}

.dashboard__pr {
  grid-column: 7 / 10;
  grid-row-start: 2;
}

.dashboard__progressChart {
  grid-column: 1 / 6;
  grid-row-start: 3;
}

.dashboard__toolsUsage {
  grid-column: 6 / 10;
  grid-row-start: 3;
}

.dashboard__journals {
  grid-column: 1 / 5;
}
