.taskListContainer {
  display: flex;
  flex-direction: column;
  min-height: 275px !important;
  max-height: 600px !important;
}

.taskList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 100%;
  scrollbar-width: thin;
  margin-top: -1em;
}

.taskListHeader__completed {
  margin-left: 0.75em;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.taskListEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.taskListEmptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.taskListEmptyIcon {
  font-size: 3rem;
}

.taskListEmptyMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;

  & > strong {
    font-size: 1rem;
  }
}

.addTaskBtn {
  --font-size: 0.9rem;
  --icon-size: 1rem;
  --padding: 0.3rem 0.6rem;
}

.formFooter {
  gap: 1em;
}
