.tabs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tab__nav {
  display: flex;

  .tab__nav__item {
    --padding: 1em;
    flex: 1;
    font-family: var(--font-heading);
  }

  .tab__nav__item--active {
    --bg: var(--accent-primary);
    --__icon-fill: var(--accent-secondary);

    &:hover {
      background-color: var(--bg) !important;
    }
  }
}
