.quoteSection {
  background: var(--container);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  min-height: 400px;
}

.quote {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.quote__author {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: var(--text-muted);
  font-style: italic;
}
