@import "./reset.css";
@import "./variables.css";

body {
  font-family: var(--font-body);
  color: var(--text-base);
  background-color: var(--surface);
}

.card {
  background-color: var(--container);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing-md) * 1.5);

  .card__header {
    font-weight: 500;
    font-size: 1.15rem;
    padding-bottom: var(--spacing-md);
    font-family: var(--font-heading);
  }

  .card__body {
    flex: 1;
    min-height: 0;
  }

  .card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-md);
  }
}

.btn {
  --__bg: var(--bg, transparent);
  --__color: var(--color, var(--text-base));
  --__font-size: var(--font-size, 1rem);
  --__padding: var(--padding, 0.5rem 1rem);
  --__border-radius: var(--border-radius, 0.5em);

  --__icon-size: var(--icon-size, 1.5rem);
  --__icon-fill: var(--icon-fill, var(--text-base));

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  background-color: var(--__bg);
  color: var(--__color);
  font-size: var(--__font-size);
  padding: var(--__padding);
  border: 1px solid var(--__bg);
  border-radius: var(--__border-radius);

  outline: none;
  cursor: pointer;

  &:hover {
    background-color: var(--black-800);
  }

  svg {
    fill: var(--__icon-fill);
    width: var(--__icon-size);
    height: var(--__icon-size);
  }

  &.btn--primary {
    background-color: var(--accent-primary);
    color: var(--text-base);
  }
}

.underlineAnimation {
  --bg: transparent;
  --color: var(--text-base);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--color);
    transition: all 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
