:root {
  /* Color palette */
  --black: #000;
  --black-900: #171717;
  --black-800: #212121;
  --black-700: #303030;
  --black-300: #888;
  --whitesmoke: #e6e1e3;
  --green: #0bb463;
  --green-50: rgba(11, 180, 98, 0.1);
  --blue: #0b6ff4;
  --red: #f31212;

  /* Semantic colors */
  --surface: var(--black-800);
  --container: var(--black-900);

  --text-base: var(--whitesmoke);
  --text-muted: var(--black-300);

  --accent-primary: var(--black-700);
  --accent-secondary: var(--green);
  --accent-secondary-50: var(--green-50);
  --accent-tertiary: var(--blue);
  --error: var(--red);

  /* Spacing */
  --spacing-sm: 0.5em;
  --spacing-md: 1em;
  --spacing-lg: 2em;

  /* Border radius */
  --border-radius-sm: 0.25em;
  --border-radius-md: 0.5em;
  --border-radius-lg: 1em;

  /* Typography */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 3.5rem;
  --font-size-5xl: 4rem;
  --font-size-6xl: 4.5rem;
}
