.noDataView {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 2rem;
}

.content {
  text-align: center;
  min-width: 500px;
}

.subtitle {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  color: var(--text-base);
}
