.sideNav {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  height: 100%;
  background-color: var(--container);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.sideNav__logo {
  padding-left: var(--spacing-sm);
}

.sideNav_collapsed {
  .sideNav_collapseBtn {
    display: none;
  }

  &:hover {
    .sideNav_collapseBtn {
      margin-left: 4px;
      display: block;
    }

    .sideNav__logo {
      display: none;
    }
  }
}

.sideNav_collapseBtn {
  --padding: calc(var(--spacing-sm) / 2);
  --icon-size: 1.5rem;
  --border-radius: var(--border-radius-md);
}

.sideNav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--spacing-md) * 1.5) var(--spacing-md);
  border-bottom: 1px solid var(--black-800);
}

.sideNav__content,
.sideNav__footer {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm) 0;
}

.sideNav__navItem {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: var(--spacing-sm);
  margin: 0 var(--spacing-sm);
  padding: calc(var(--spacing-sm) + var(--spacing-sm) / 2);
  border-radius: var(--border-radius-md);
  cursor: pointer;

  &:hover {
    background-color: var(--black-800);
  }

  .sideNav__navIcon {
    padding-left: 6px;
    flex-shrink: 0;
  }
}

.sideNav__navLabel {
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.sideNav__navItemActive {
  background-color: var(--accent-secondary-50);
  color: var(--accent-secondary);

  svg {
    fill: var(--accent-secondary);
  }

  &:hover {
    background-color: var(--accent-secondary-50);
  }
}

.sideNav__footer {
  border-top: 1px solid var(--black-800);
}
