.timerContainer {
  flex: 2;
}

.timerBody {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pomodoroTabs {
  flex: 1;
}

.pomodoroTabNav {
  background-color: var(--accent-primary);
  border-radius: var(--border-radius-md);

  button {
    cursor: pointer;
    &:hover {
      background-color: var(--accent-primary) !important;
    }
  }
}

.timer__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.circularTimer {
  --progress: 0;
  --size: 480px;
  --thickness: 16px;
  --progress-color: var(--accent-secondary); /* Default fallback */
  --progress-color-light: rgba(11, 180, 98, 0.2); /* Light green for unfilled */
  --break-color-light: rgba(
    255,
    193,
    7,
    0.2
  ); /* Light yellow for break unfilled */

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: conic-gradient(
    from 0deg,
    var(--progress-color) calc(var(--progress) * 1%),
    var(--progress-color-light) calc(var(--progress) * 1%),
    var(--progress-color-light) 100%
  );

  &::before {
    content: "";
    position: absolute;
    width: calc(var(--size) - var(--thickness) * 2);
    height: calc(var(--size) - var(--thickness) * 2);
    background-color: var(--container);
    border-radius: 100%;
    top: var(--thickness);
    left: var(--thickness);
  }
}

.circularTimer__break {
  --progress-color-light: var(--break-color-light);
}

.timer__value {
  z-index: 2;
  display: flex;
  gap: 8px;
  font-size: calc(var(--font-size-6xl) * 1.5);
  font-family: var(--font-heading);
  font-weight: 600;

  .timer__value__colon {
    font-size: calc(var(--font-size-6xl) * 1.25);
    margin-top: 0.5rem !important;
    font-weight: 500;
  }
}

.timerControls {
  display: flex;
  justify-content: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  width: 100%;
}

.timerControls__item {
  --border-radius: 100%;
  --padding: var(--spacing-md);
  --icon-size: 28px;
  opacity: 0.75;
}

.timerControls__item--play {
  --padding: var(--spacing-sm) calc(var(--spacing-md) * 1.5);
  --bg: var(--accent-secondary);
  --border-radius: calc(var(--border-radius-lg) * 2);
  --font-size: var(--font-size-lg);
  opacity: 1;

  &:hover {
    background-color: var(--accent-secondary) !important;
  }
}
