.baseLayoutContainer {
  min-height: 100vh;
}

.baseLayout_collapsed {
  --side-nav-width: 320px;
}

.baseLayout_expanded {
  --side-nav-width: 68px;
}

.sidePanel {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--side-nav-width);
  height: 100%;
  background-color: var(--container);
}

.dashboardContainer {
  margin-left: var(--side-nav-width);
  width: calc(100% - var(--side-nav-width));
}

.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .formWrapper {
    background-color: var(--container);
    padding: 2em !important;
    width: 500px !important;
  }
}
