:root {
  --side-nav-width: 320px;
}

.dashboardLayout {
  min-height: 100vh;
  width: 100%;
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--side-nav-width);
  height: 100%;
  background-color: var(--container);
}

.mainContent {
  margin-left: var(--side-nav-width);
  width: calc(100% - var(--side-nav-width));
}
