.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 1rem 3rem;
}

.header__logo {
  svg {
    fill: var(--text-base) !important;
  }
}

.header__nav__item {
  padding: 0.25rem;
}
