.formItem {
  --height: 60px;
  display: flex;
  align-items: center;
  gap: 1em;

  input,
  textarea {
    width: 100%;
    outline: none;
    border: 2px solid var(--surface);
    padding: 0.5em 1em;
    background-color: transparent;
    color: var(--text-base);
    border-radius: 0.25em;
    height: var(--height);

    &:focus {
      border-color: var(--accent-primary);
    }
  }
}

.passwordInput {
  --height: 60px;
  border: 2px solid var(--surface);
  gap: 0 !important;
  height: var(--height);
  border-radius: 0.25em;
  position: relative;

  .passwordToggle {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
  }

  input {
    border: none !important;
  }

  &:focus-within {
    border-color: var(--accent-primary);
  }

  &:has(input:-webkit-autofill) {
    svg {
      fill: var(--accent-primary) !important;
    }
  }
}

input:disabled {
  color: var(--text-muted) !important;
  background-color: var(--black-800) !important;
  cursor: not-allowed;
}

/* InputNumber Component Styles */
.inputNumberWrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 0.25em;
  border: 2px solid var(--surface);

  input {
    border: none !important;
  }

  &:focus-within {
    border-color: var(--accent-primary);
  }

  &:has(input:-webkit-autofill) {
    svg {
      fill: var(--accent-primary) !important;
    }
  }

  .stepper {
    display: flex;
    cursor: pointer;

    .stepperBtn {
      --icon-size: 20px;
      --padding: 0.5em;
      width: var(--height);
      color: var(--text-muted) !important;
      --border-radius: 0;
      border-left: 2px solid var(--surface);
      svg {
        fill: currentColor;
      }
    }

    button:disabled {
      background-color: var(--surface);
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.inputNumber {
  /* Hide default browser spinner */
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
