.header {
  padding: var(--spacing-sm) var(--spacing-md);
}

.greetingContainer {
  font-family: var(--font-heading);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .displayName {
    text-transform: capitalize;
  }
}

.greeting {
  font-weight: 500;
}

.subtitle {
  color: var(--text-muted);
}
