.formContainer {
  border: 2px solid var(--surface);
  border-radius: 0.5em;
  padding: 1em;
  font-size: 0.9rem;

  .formItem {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    input,
    textarea,
    select {
      width: 100%;
      outline: none;
      border: 2px solid var(--surface);
      padding: 0.5em 1em;
      background-color: transparent;
      color: var(--text-base);
      border-radius: 0.25em;
      height: 40px;

      &:focus {
        border-color: var(--accent-primary);
      }
    }
  }

  select {
    width: 80px !important;
  }

  label {
    font-weight: 500;
    color: var(--text-muted);
  }

  .formItem[data-field="total-sessions"] {
    label {
      flex: 1;
      padding-left: 1em;
    }

    .sessionControls {
      flex: 1;
      display: flex;
      align-items: center;
      border: 2px solid var(--surface);

      input {
        border: none;
      }
    }
  }

  textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
  }
}
