@reference "@/styles/global.css";

/* Tabs (Radix tabs) */
:where(.tab-list) {
  @apply text-tab-list-foreground flex w-full h-11 items-center justify-start overflow-hidden p-0;
}

:where(.tab-trigger) {
  @apply text-muted-foreground font-sans text-sm md:text-base relative cursor-pointer data-[state=active]:border-b-transparent focus-visible:ring-ring/50 inline-flex h-[calc(100%-1px)] shrink-0 items-center justify-center gap-2 border-b border-tab-trigger-border px-4 pb-2.5 pt-1.5 font-normal whitespace-nowrap transition-[color,box-shadow] focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-5;
}

:where(.tab-trigger):hover {
  @apply text-tab-trigger-hover-foreground;
}

/* Tab active state utility (Radix tabs) */
.tab-active[data-state="active"] {
  color: var(--color-tab-trigger-active-foreground);
}

.tab-active[data-state="active"]:hover {
  color: var(--color-tab-trigger-active-foreground);
}

.tab-active[data-state="active"]::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--tab-trigger-active-underline-width);
  background: var(--tab-trigger-active-underline);
  border-radius: 0;
}
