.footer {
  background-color: var(--container);
  color: var(--text-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * {
    width: 100%;
  }
}

.footer__socials {
  text-align: center;
  padding: 3em 0;
}

.footer__socialsTitle {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-heading);
  margin-bottom: 1em;
}

.footer__socialLinks {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.footer__socialLinks a {
  border: 1.5px solid var(--text-muted);
  padding: 0.5em;
  border-radius: 50%;
  transition: all 0.3s ease;

  svg {
    fill: var(--text-muted);
    stroke: var(--text-muted);
    transition: inherit;
  }

  &:hover {
    border-color: var(--text-base);
    svg {
      fill: var(--text-base);
      stroke: var(--text-base);
    }
  }
}

.footer__copyright {
  color: var(--text-muted);
  border-top: 2px solid var(--surface);
  text-align: center;
  padding: 1em;
}
