.userProfile {
  margin: 0 3em;
  background-color: var(--container);
}

.userProfile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;

  :global(.btn) {
    border-color: var(--accent-primary);
    border-width: 2px;
    padding: 0.3em 1.2em;
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: 500;

    svg {
      width: 1.25em;
      height: 1.25em;
    }
  }
}

.userProfile__header__title {
  border-left: 5px solid var(--accent-secondary);
  padding-left: 0.5em;
}

.userProfile__btn__logout {
  display: inline-block;
  background-color: var(--accent-secondary) !important;
}

.userProfile__body {
  display: flex;
  gap: 2em;
  align-items: center;
  height: 100px;
}

.userProfile__avatar {
  border-radius: 50%;
  border: 2px solid var(--accent-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 600;
  height: 100px;
  width: 100px;
}

.userProfile__details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.userProfile__name {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--font-heading);
}

.userProfile__info {
  display: flex;
  gap: 6em;
}

.userProfile__info_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5em;
  gap: 0.5em;
}

.info_label {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--text-muted);
}

.info_value {
  font-weight: 500;
}
