.tabsContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
}

.settingsTabs {
  height: 100%;

  .settingsTabNav {
    width: 15%;

    & > button {
      background-color: transparent !important;
      justify-content: flex-start;
      border: none;
      color: var(--text-muted);
      padding: var(--spacing-md) var(--spacing-sm);
    }
  }

  .settingsTabPanel {
    position: relative;
  }
}

.general,
.personalization,
.account {
  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    padding: var(--spacing-md) var(--spacing-lg);
    overflow-y: auto;
  }

  .formItem {
    --height: 48px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 0;

    label {
      font-weight: 500;
      color: var(--text-base);
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 0.9em;
      margin-left: 0.35em;
    }

    &.inline {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      input,
      button {
        --height: 48px;
      }
    }
  }
}

.settingsFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--black-800);
  display: flex;
  justify-content: flex-end;
  padding: calc(var(--spacing-md) + var(--spacing-sm));
  padding-bottom: 0;
  padding-right: 0;
  gap: var(--spacing-md);

  .deleteBtn {
    border: 1px solid var(--error);
    color: var(--error);
    opacity: 0.7;

    &:hover {
      opacity: 1;
      background-color: transparent;
    }
  }

  button {
    min-width: 120px;
  }

  .saveBtn {
    --bg: var(--accent-secondary);
    &:hover {
      background-color: var(--accent-secondary);
    }
  }

  .saveBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .cancelBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.divider {
  border: 1px solid var(--black-800);
  margin: var(--spacing-lg);
}

.deleteAccount {
  padding: var(--spacing-md) var(--spacing-lg);

  .deleteAccountTitle {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: var(--spacing-md);
  }

  .deleteAccountConfirmText {
    display: block;
    padding: var(--spacing-md) 0 var(--spacing-sm) 0;
    color: var(--text-muted);
    font-size: 0.9rem;
  }

  .deleteAccountConfirm {
    height: 48px !important;
    width: 100%;
    display: flex;
    gap: var(--spacing-lg);

    input {
      height: 100% !important;
    }
  }

  .deleteBtn {
    opacity: 0.9;
    border: 1px solid var(--error);
    color: var(--error);
    background-color: transparent;

    &:hover {
      background-color: var(--error);
      color: var(--white);
    }
  }
}
