form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.submitButton {
  --bg: var(--accent-secondary);
  --padding: 0.5em;
  width: 100%;
  margin-top: 1em;

  &:hover {
    background-color: var(--accent-secondary) !important;
  }
}

.footer {
  text-align: center;
  margin-top: 1.5em;
}

.redirectLink {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-muted);

  .link {
    color: var(--accent-secondary);
  }
}

.forgotPasswordLink {
  --font-size: 0.9rem;
  --color: var(--text-muted);
  --padding: 0 0.5rem;
  margin-top: -0.5em;
  width: fit-content;

  &:hover {
    background-color: transparent !important;
    color: var(--text-muted) !important;
  }
}

.disabled {
  --padding: 0.5em;
  margin-top: 1em;
  background-color: var(--accent-primary) !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}
