.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.content {
  text-align: center;
}

.subtitle {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  color: var(--text-base);
}

.message {
  font-size: 1rem;
  color: var(--text-base);
  margin: 0 0 3rem 0;
}
